@charset "UTF-8";
/* 追記用cssファイルです。*/


.message main#main .area-img{
	background-size: cover;
	background-position: center center;
}

@media (max-width: 1024px){

}


@media (max-width: 767px){
	
    .area-message {
        background-position: center center;
        background-size: cover;
    }
	
	/* top message-nozaw*/
	.message-nozawa {
	    background: #fcffff url(../img/area_message_nozawa.jpg) -240px center no-repeat;
	    background-size: cover;
	}
	
	/* top message-mizuno */
	.message-mizuno{
	    background: #fcffff url(../img/area_message_mizuno.jpg) -800px center no-repeat;
	    background-size: cover;
    }
	
}